<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.dao.RoleAuthorityMapper">
  <resultMap id="BaseResultMap" type="com.ly.entity.RoleAuthority">
    <!--@mbg.generated-->
    <!--@Table role_authority-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="rid" jdbcType="BIGINT" property="rid" />
    <result column="authid" jdbcType="BIGINT" property="authid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, rid, authid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from role_authority
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from role_authority
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ly.entity.RoleAuthority" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into role_authority (rid, authid)
    values (#{rid,jdbcType=BIGINT}, #{authid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ly.entity.RoleAuthority" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into role_authority
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        rid,
      </if>
      <if test="authid != null">
        authid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        #{rid,jdbcType=BIGINT},
      </if>
      <if test="authid != null">
        #{authid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ly.entity.RoleAuthority">
    <!--@mbg.generated-->
    update role_authority
    <set>
      <if test="rid != null">
        rid = #{rid,jdbcType=BIGINT},
      </if>
      <if test="authid != null">
        authid = #{authid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ly.entity.RoleAuthority">
    <!--@mbg.generated-->
    update role_authority
    set rid = #{rid,jdbcType=BIGINT},
      authid = #{authid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>